{%extends 'base.html'%}

{%block content%}
<div class="container text-center mt-5">
  <div class="row">
      <h3> {{screen.screen_name}} </h3>
    </div>
</div>

<div class="container">
      <form method="POST" action="{% url 'screen-detail' screen_id=screen.id %}">
          {% csrf_token %}
      <div class="form-group">
        <label for="scrProj"><b>Project</b></label>
        <input type="text" value="{{screen.project}}" name="scrProj" class="form-control" id="scrProj" placeholder="Project" disabled>
      </div>
      <div class="form-group">
        <label for="scrCode"><b>Screen Code</b></label>
        <input type="text" value="{{screen.screen_code}}" name="scrCode" class="form-control" id="scrCode" placeholder="Screen Code">
      </div>
      <div class="form-group">
        <label for="scrName"><b>Screen Code</b></label>
        <textarea class="form-control" name="scrName" id="scrName" rows="3">{{screen.screen_name}}</textarea>
      </div>
      <div class="form-group">
        <label for="scrDesc"><b>Description</b></label>
        <textarea class="form-control" name="scrDesc" id="scrDesc" rows="3">{{screen.description}}</textarea>
      </div>
      <div class="form-group">
        <label for="scrURL"><b>URL</b></label>
        <textarea class="form-control" name="scrURL" id="scrURL" rows="3">{{screen.url}}</textarea>
      </div>
      <div class="form-group text-center mt-5">
        <button class="btn btn-m btn-warning btn-block" type="submit">Edit</button>
      </div>
    </form>


</div>


{%endblock%}